#home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: inherit;
  padding: 4rem;
  background-image: linear-gradient(
    to right bottom,
    #051937,
    #302146,
    #56274e,
    #78304c,
    #933f44
  );
}

#home > section {
  display: flex;
  flex: 1 1 0;
}

.home-text {
  flex-direction: column;
  color: #fff;
  gap: 2rem;
  font-size: 2rem;
  font-family: Roboto;
}
.home-card-container {
  display: flex;
  height: 350px;
  padding: 0 5rem;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  perspective: 600px;
}

.card-hole {
  width: 300px;
  height: 3px;
  border-radius: 2rem;
  background-color: rgb(41, 41, 41);
  box-shadow: inset 3px 3px 10px rgb(22, 21, 21);
  position: relative;
}

.home-card {
  width: 430px;
  height: 270px;
  border-radius: 2rem;
  background: linear-gradient(
    90deg,
    var(--third-color),
    var(--secondary-color)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  transform-style: preserve-3d;
  transition: all 1s;
  transform: rotate(90deg) rotateY(-45deg) translateX(0px);

  /* transform: rotate(90deg) translateY(50%) translateX(0%) rotateY(0deg); */
}
.insert {
  transition: all 1s;
  transform: rotate(90deg) rotateY(-45deg) translateX(-650px);
  opacity: 0;
}

.puce {
  width: 64.5px;
  height: 40.5px;
  border-radius: 0.5rem;
  background-color: goldenrod;
}

#card-number {
  font-size: 2rem;
  letter-spacing: 0.2ch;
  color: #fff;
}

.card-number-input {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: 1ch;
  background-color: #05193755;
  width: 15rem;
  gap: 1rem;
}

#cardID {
  font-size: 1ch;
  width: 16ch;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  /* webkit-text-security: disc; */
}
